body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}
.nav-wrapper{
    background-color: #017adb;
    color: #FFFFFF;
}
footer{
    background-color: #017adb;
    color: #FFFFFF;
}
/*INDEX*/
#tabla-aspirantes_filter input{
    height: 1rem;
}
#tabla-cursos_filter input {
    height: 1rem;
}
#tabla-aspirante-curso_filter input{
    height: 1rem;
}

#tabla-aspirantes_filter label{
    font-weight: bold !important;
    font-size: 18px !important;
}
#tabla-cursos_filter label{
    font-weight: bold !important;
    font-size: 18px !important;
}
#tabla-aspirante-curso_filter label{
    font-weight: bold !important;
    font-size: 18px !important;
}

.dataTables_wrapper .dataTables_filter{
    float: left !important;
    text-align: left !important;
}



